<!-- Atualizando o template de tarefas -->
<h1 class="pb-2 mt-4 mb-4 border-bottom">Detalhes da Tarefa: {{ task?.attributes?.title }}</h1>
<!--
pb-2 - padding bottom 2 spacer units
mt-4 - margin top 4 spacer units
mb-2 - margin bottom 2 spacer units
border-bottom - border-bottom: 1px solid rgb(222, 226, 230)
-->

<form [formGroup]="form" (ngSubmit)="updateTask()">
    <div class="row">

        <!-- taskTitle -->
        <div class="form-group col-md-6">
            <label for="title" class="col-form-label" [class.text-danger]="formUtils.showFieldError('title')"><strong>Título</strong></label>
            <input type="text" formControlName="title" class="form-control" [ngClass]="formUtils.fieldClassForErrorOrSuccess('title')" id="title" autocomplete="off">
        
            <div *ngIf="formUtils.showFieldError('title')" class="invalid-feedback">
                <div *ngIf="form.get('title').errors.required">Por favor, entre com um título para a tarefa.</div>
                <div *ngIf="form.get('title').errors.minlength">O título deve ter no mínimo 2 caracteres.</div>
                <div *ngIf="form.get('title').errors.maxlength">O título deve ter no máximo 255 caracteres.</div>
            </div>
        </div>

        <!-- taskDeadline -->
        <div class="form-group col-md-3">
            <label for="deadline" class="col-form-label" [class.text-danger]="formUtils.showFieldError('deadline')"><strong>Prazo de entrega</strong></label>
            <input type="text" formControlName="deadline" class="form-control" [ngClass]="formUtils.fieldClassForErrorOrSuccess('deadline')" id="deadline" autocomplete="off" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
            <owl-date-time #dt1></owl-date-time>
            <div *ngIf="formUtils.showFieldError('deadline')" class="invalid-feedback">Por favor, entre com o prazo.</div>
        </div>
        <!-- taskDone -->
        <div class="form-group col-md-3">
            <label for="done" class="col-form-label" [class.text-danger]="formUtils.showFieldError('done')"><strong>Situação</strong></label>
            <select formControlName="done" class="form-control" [ngClass]="formUtils.fieldClassForErrorOrSuccess('done')" id="done">
                <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>            
            </select>
            <div *ngIf="formUtils.showFieldError('done')" class="invalid-feedback">Por favor, informe a situação da tarefa.</div>
        </div>
    </div>

    <!-- taskDescription -->
    <div class="row">
        <div class="form-group col-md-12">
            <label for="description" class="col-form-label"><strong>Descrição detalhada</strong></label>
            <textarea formControlName="description" class="form-control" id="description" rows="4"></textarea>
        </div>
    </div>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <button [disabled]="form.invalid" type="submit" class="btn btn-success">Atualizar</button>
        </div>
        <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-secondary" (click)="goBack()">Voltar</button>
        </div>
    </div>
<hr>
<pre>{{ form.value | json }}</pre>
<hr>

</form>


<!-- <form #taskForm="ngForm" (ngSubmit)="goBack()">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="title" class="col-form-label" [class.text-danger]="showFieldError(title)"><strong>Título</strong></label>
            <input #title="ngModel" [(ngModel)]="task.title" type="text" class="form-control" [class.is-invalid]="showFieldError(title)" [class.is-valid]="title.valid" name="title" id="title" required minlength="2" maxlength="255" autocomplete="off">
            <div *ngIf="showFieldError(title)" class="invalid-feedback">
                <div *ngIf="title.errors.required">Por favor, entre com um título para a tarefa.</div>
                <div *ngIf="title.errors.minlength">O título deve ter no mínimo 2 caracteres.</div>
                <div *ngIf="title.errors.maxlength">O título deve ter no máximo 255 caracteres.</div>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label for="deadline" class="col-form-label" [class.text-danger]="showFieldError(deadline)"><strong>Prazo de entrega</strong></label>
            <input #deadline="ngModel" [(ngModel)]="task.deadline" type="text" class="form-control" [class.is-invalid]="showFieldError(deadline)" [class.is-valid]="deadline.valid" name="deadline" id="deadline" required>
            <div *ngIf="showFieldError(deadline)" class="invalid-feedback">
                <div *ngIf="deadline.errors.required">Por favor, entre com uma data para o prazo.</div>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label for="done" class="col-form-label" [class.text-danger]="showFieldError(done)"><strong>Situação</strong></label>
            <select #done="ngModel" [(ngModel)]="task.done" class="custom-select" [class.border-danger]="showFieldError(done)" name="done" id="done" required>
                <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>            
            </select>
            <div *ngIf="showFieldError(done)" [class.text-danger]="showFieldError(done)" class="mt-1">
                <div *ngIf="done.errors.required" style="font-size: 13px;">Por favor, informe a situação da tarefa.</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label for="description" class="col-form-label"><strong>Descrição detalhada</strong></label>
            <textarea [(ngModel)]="task.description" class="form-control" name="description" id="description" rows="4"></textarea>
        </div>
    </div>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <button [disabled]="taskForm.invalid" type="submit" class="btn btn-success" (click)="updateTask()">Atualizar</button>
        </div>
        <div class="btn-group mr-2" role="group">
            <button class="btn btn-secondary">Voltar</button>
        </div>
    </div> 
    
    <hr>
    <pre>{{ task | json }}</pre>
</form>-->
