<!-- Tabela de tarefas -->
<table class="table">
    <thead>
        <th>ID</th>
        <th>Título</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#taskDetail" (click)="onSelect(task)">
                        <i class="fa fa-info-circle"></i> Detalhes
                    </button>
                </div>
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i> Excluir
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="selectedTask">
    <p>
        <strong>ID: </strong> {{ selectedTask.id }}
    </p>
    <p>
        <strong>Título: </strong> {{ selectedTask.title }}
    </p>       
</div>

<!-- Modal -->
<div class="modal fade" id="taskDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="selectedTask">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes da Tarefa: {{ selectedTask.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input [(ngModel)]="selectedTask.title" class="form-control" type="text">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Salvar Alterações</button>
            </div>
        </div>
    </div>
</div>