<!-- Tabela de tarefas -->
<div class="conteiner">
  <div align="center">
    <h2 class="mt-4 mb-3 text-uppercase">Lista de Tarefas</h2>
  </div>

  <div class="card card-body bg-light mb-2">
     <form (ngSubmit)="createTask()">
        <div class="row justify-content-center">
           <div class="col-12 col-md-8 my-1">
              <input type="text" class="form-control" [(ngModel)]="newTask.title" name="title" placeholder="Digite aqui uma nova tarefa">
           </div>

           <div class="col-6 col-md-2 text-center my-1">
              <button class="btn btn-success" type="submit">Adicionar</button>
            </div>
        </div>
     </form>
  </div>

  <table class="table">
     <thead>
        <tr>
           <th>ID</th>
           <th>Título</th>
           <th class="text-center">Ações</th>
        </tr>
     </thead>
     <tbody>
        <tr *ngFor="let task of tasks">
           <td>{{ task.id }}</td>
           <td>{{ task.attributes.title }}</td>
           <td class="text-center">
              <div class="btn-group">
                 <button type="button" class="btn btn-info action-btn mb2" [routerLink]="[ '/tasks', task.id ]">
                    <i class="fa fa-info-circle"></i> Detalhes
                 </button>
              </div>
              <div class="btn-group">
                 <button type="button" class="btn btn-danger action-btn" (click)="deleteTask(task)" id="btn">
                    <i class="fa fa-trash-o"></i> Excluir
                 </button>
              </div>
           </td>
        </tr>
     </tbody>
  </table>
</div>
