<!-- Tabela de tarefas -->
<table class="table">
    <thead>
        <th>ID</th>
        <th>Título</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>
                <div class="btn-group mr-2">
                    <a class="btn btn-info" [routerLink]="[ '/tasks', task.id ]">
                        <i class="fa fa-info-circle"></i> Detalhes
                    </a>
                </div>
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i> Excluir
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>