<h1 class="pb-2 mt-4 mb-4 border-bottom">Faça o seu login</h1>

<div class="jumbotron">
    <div *ngIf="formErrors" class="alert alert-danger">
        <strong>
            <i class="fa fa-exclamation-triangle"></i>
                Ocorreu um erro ao tentar entrar no sistema.
        </strong>

        <ul>
            <!-- Exibe a mensagem de erro no alert -->
            <li *ngFor="let error of formErrors">{{ error }}</li>
        </ul>
    </div>
    <form [formGroup]="form" (ngSubmit)="signInUser()">

        <div class="form-group row">
            <label for="login" class="col-md-4 col-form-label" [ngClass]="formUtils.fieldClassForErrorOrSuccess('login')"><strong>Email</strong></label>
            <div class="col-md-4">
                <input type="email" class="form-control" formControlName="login" [ngClass]="formUtils.fieldClassForErrorOrSuccess('login')" id="login">

                <div *ngIf="formUtils.showFieldError('login')" class="invalid-feedback">
                    <div *ngIf="form.get('login').errors.required">O campo email é obrigatório.</div>
                    <div *ngIf="form.get('login').errors.email">O email digitado é inválido.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label" [ngClass]="formUtils.fieldClassForErrorOrSuccess('password')"><strong>Senha</strong></label>
            <div class="col-md-4">
                <input type="password" class="form-control" id="password"  formControlName="password" [ngClass]="formUtils.fieldClassForErrorOrSuccess('password')">

                <div *ngIf="formUtils.showFieldError('password')" class="invalid-feedback">
                    <div *ngIf="form.get('password').errors.required">O campo senha é obrigatório.</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4 offset-md-4 btn-cen">
                <button [disabled]="form.invalid || submitted" type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 offset-md-4 btn-cen">
                Ainda não tem uma conta?
                <a routerLink="/sign-up">Clique aqui.</a>
            </div>
        </div>
    </form>
</div>
