<!-- Painel de controle -->
<div align="center">
  <h2 class="pb-2 mt-4 mb-3 text-uppercase">Painel de Controle</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Tarefa</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{ task.attributes.title }}</td>
            <td class="text-center">
                <a [routerLink]="['/tasks', task.id]" class="btn btn-info">Detalhes</a>
            </td>
        </tr>
    </tbody>
</table>
