<h1 class="pb-2 mt-4 mb-4 border-bottom">Faça o seu cadastro</h1>

<div class="jumbotron">
    <div *ngIf="formErrors" class="alert alert-danger">
        <strong>
            <i class="fa fa-exclamation-triangle"></i>
            Ocorreu um erro ao tentar criar a sua conta no sistema.
        </strong>

        <ul>
            <!-- Exibe a mensagem de erro no alert -->
            <li *ngFor="let error of formErrors">{{ error }}</li>
        </ul>
    </div>

    <!-- Campo de Nome -->
    <form [formGroup]="form" (ngSubmit)="signUpUser()">
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label text-right" [ngClass]="formUtils.fieldClassForErrorOrSuccess('name')"><strong>Nome</strong></label>
            <div class="col-sm-4">
                <input type="text" formControlName="name" class="form-control" [ngClass]="formUtils.fieldClassForErrorOrSuccess('name')" id="name"  autocomplete="off">
                
                <div *ngIf="formUtils.showFieldError('name')" class="invalid-feedback">
                    <div *ngIf="form.get('name').errors.required">O campo nome é obrigatório.</div>
                    <div *ngIf="form.get('name').errors.minlength">O nome deve ter no mínimo 5 caracteres.</div>
                    <div *ngIf="form.get('name').errors.maxlength">O nome deve ter no máximo 100 caracteres.</div>
                </div>
            </div>
        </div>

        <!-- Campo de Email -->
        <!-- Foi nomeado para login no formControlName devido exigência do plugin AngularToken -->
        <div class="form-group row">
            <label for="login" class="col-sm-4 col-form-label text-right" [ngClass]="formUtils.fieldClassForErrorOrSuccess('login')"><strong>Email</strong></label>
            <div class="col-sm-4">
                <input type="email" class="form-control" formControlName="login" [ngClass]="formUtils.fieldClassForErrorOrSuccess('login')" id="login">
            
                <div *ngIf="formUtils.showFieldError('login')" class="invalid-feedback">
                    <div *ngIf="form.get('login').errors.required">O campo email é obrigatório.</div>
                    <div *ngIf="form.get('login').errors.email">O campo email é inválido.</div>
                </div>
            </div>
        </div>

        <!-- Campo de Senha -->
        <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label text-right" [ngClass]="formUtils.fieldClassForErrorOrSuccess('password')"><strong>Senha</strong></label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password"  formControlName="password" [ngClass]="formUtils.fieldClassForErrorOrSuccess('password')">
            
                <div *ngIf="formUtils.showFieldError('password')" class="invalid-feedback">
                    <div *ngIf="form.get('password').errors.required">O campo senha é obrigatório.</div>
                    <div *ngIf="form.get('password').errors.minlength">A senha deve ter no mínimo 8 caracteres.</div>
                </div>              
            </div>
        </div>

        <!-- Campo de Confirmação de Senha -->
        <div class="form-group row">
            <label for="passwordConfirmation" class="col-sm-4 col-form-label text-right" [ngClass]="formUtils.fieldClassForErrorOrSuccess('passwordConfirmation')"><strong>Confirmação de Senha</strong></label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="passwordConfirmation"  formControlName="passwordConfirmation" [ngClass]="formUtils.fieldClassForErrorOrSuccess('passwordConfirmation')">          
            
                <div *ngIf="formUtils.showFieldError('passwordConfirmation')" class="invalid-feedback">
                    <div *ngIf="form.get('passwordConfirmation').errors.required">O confirmação de senha é obrigatório.</div>
                    <div *ngIf="form.get('passwordConfirmation').errors.mismatch">As senhas não coincidem.</div>
                </div>              
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4 offset-md-4">
                <button [disabled]="form.invalid || submitted" type="submit" class="btn btn-primary">Criar Conta</button>
            </div>
        </div>
    </form>
</div>